<div class="row">
	<div class="span6 offset3">
	<%= form_for(@aprofile) do |f| %>
	<% @aprofile.errors.full_messages.each do |msg| %>
	      <p><%= msg %></p>
	<% end %>
		<%= f.label :urn, 'URN' %>
		<%= f.text_field :urn %>
		
		<%= f.label :f_name, 'First Name' %>
		<%= f.text_field :f_name %>
		
		<%= f.label :l_name, 'Last Name' %>
		<%= f.text_field :l_name %>
	
		<%= f.label :department, 'Department' %>
		<%= f.collection_select( :department_id, Department.all, :id, :title, {:prompt => 'Select a department'}, {:id => 'departments_select'} ) %>
		
		<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
	<% end %>
	</div>
</div>