
<p>
	<b>Department Title:</b>
	<%= @department.title %>
</p>	
	<%= link_to 'Edit', edit_admin_department_path(@department.id) %> |
	<%= link_to 'Back', admin_departments_path %>
	<div>
		
		<h1>Courses</h1>
		<div>
			<table class="table table-striped table-bordered table-condensed" align='center' cellpadding='5' width= 70%>
			  <tr>
				<th>Course Title</th>
			  </tr>
			<%= render :partial => @department.courses %>
			</table>
			
		</div>
		<h2>Add a new Course</h2>
		<div class="row">
			<div class="span6 offset3">
		
		  <%= form_for ([:admin, @department, @department.courses.build]) do |f| %>
		  
		    <%= f.label :title, 'Course Title:' %><br />
		    <%= f.text_field :title %>
		 

		  <%= f.submit "Create a Course", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
	</div>