
<div class="row">
	<div class="span6 offset3">
		<b>Select a department:</b>
		<%= collection_select(:nil, :department_id, @departments, :id, :title, {:prompt => 'Select a department'}, {:id => 'departments_select'}) %>
		
<%= form_for @choice do |f| %>
	<% @choice.errors.full_messages.each do |msg| %>
	      <p><%= msg %></p>
	<% end %>
	
	<%= f.label :op1, '1st Choice:'%>
	<%= f.collection_select( :op1, Project.find(:all), :id, :title, {:prompt => "Select a project "}, {:id => 'choices_select'})%>
	
	<%= f.label :op2, '2nd Choice:'%>
	<%= f.collection_select( :op2, Project.find(:all), :id, :title, {:prompt => "Select a project "}, {:id => 'choices_select2'})%>
	
	<%= f.label :op3, '3rd Choice:'%>
	<%= f.collection_select( :op3, Project.find(:all), :id, :title, {:prompt => "Select a project "}, {:id => 'choices_select3'})%>
	
	<%= f.label :op4, '4th Choice:'%>
	<%= f.collection_select( :op4, Project.find(:all), :id, :title, {:prompt => "Select a project "}, {:id => 'choices_select4'})%>
	
	<%= f.label :op5, '5th Choice:'%>
	<%= f.collection_select( :op5, Project.find(:all), :id, :title, {:prompt => "Select a project "}, {:id => 'choices_select5'})%>

  <p><%= f.submit "Submit", class: "btn  btn-primary" %></p>

	<script>
	
		$(document).ready(function() {
			$('#departments_select').change(function() {
				$.ajax({
					url: '<%= update_choices_path %>',
					data: {
						department_id: $('#departments_select').val()
					},
					dataType: "script"
				});
			});
		});
	</script>
<% end %>

</div>
</div>