
<div class="row">
	<div class="span6 offset3">
		<b>Select a department:</b>
		<%= collection_select(:nil, :department_id, @departments, :id, :title, {:prompt => 'Select a department'}, {:id => 'departments_select'}) %>
		
<%= form_for @choice do |f| %>
	<% @choice.errors.full_messages.each do |msg| %>
	      <p><%= msg %></p>
	<% end %>
	
	<%= f.label :project_id, 'Project Option:'%>
	<%= f.collection_select(  :project_id, @projects, :id, :title, {:prompt => "Select a project "}, {:id => 'choices_select'})%>

  <p><%= f.submit "Submit", class: "btn btn-large btn-primary" %></p>

	<script>
	
		$(document).ready(function() {
			$('#departments_select').change(function() {
				$.ajax({
					url: '<%= update_choices_path %>',
					data: {
						department_id: $('#departments_select').val()
					},
					dataType: "script"
				});
			});
		});
	</script>
<% end %>

</div>
</div>