<% provide(:title, 'Allocations') %>
<h1>Allocations</h1>
<div class="row">
	<div class="span9 offset2">
<%= form_for @alloc do |f| %>
	<%#= f.student_id %>
	<%#= f.project.title %>
	<%= f.label :title %>
	<%= f.text_field :title%>
	<%= f.label :scheduled_at, "Schedule Delivery:" %><br />
	<%#= f.datetime_select :scheduled_at %>
	<%= f.datetime_select :scheduled_at, {:prompt => { :minute => 'Select minutes', :second => '', :day => 'Select day', :month => 'Select month', :year => 'Select year' }}, {:class => 'date-select'}  %><br />
	
	
	<%=f.submit "Submit", class: "btn  btn-primary"%>
<%end%>
</div>
</div>