<% provide(:title) %>
Download:
  <%= link_to "Excel", alloc_path(format: "xls") %><br /> 
View Allocation Result:
  <%= link_to 'Results', result_path %>
<table class="table table-striped table-bordered table-condensed" align='center' cellpadding='5'>
  <tr>
	<th class='center_content' width='10%'>Student URN</th>
    <th class='center_content'>Student Name</th>
    <th class='center_content'>Choices</th>
	<th class='center_content'>Project Capacity</th>
	<th class='center_content'>Academic Name</th>
	<th class='center_content'>Supervision Capacity</th>
  </tr>
	
  
<% @choices.to_a.each do |s| %>
	<tr>
	<td><%= s.sprofile.nil? ?  "empty" : s.sprofile.urn %></td>
	<td><%= s.sprofile.nil? ?  "empty" : s.sprofile.name%></td>
	<td><%= s.project.nil? ? 'nil' : s.project.title %></td>
	<td><%= s.project.nil? ? 'nil' : s.project.total_students %></td>
	<td><%= s.aprofile.nil? ? "empty" : s.aprofile.name %></td>
	<td><%= s.aprofile.nil? ? "empty" : s.aprofile.students_to_supervise %></td>
	</tr>
<%end%>
  </table>

