
<div class="row">
	<div class="span6 offset3">
	<%= form_for(@sprofile) do |f| %>
	<% @sprofile.errors.full_messages.each do |msg| %>
	      <p><%= msg %></p>
	<% end %>
		<%= f.label :urn, 'URN' %>
		<%= f.text_field :urn %>
		
		<%= f.label :f_name, 'First Name' %>
		<%= f.text_field :f_name %>
		
		<%= f.label :l_name, 'Last Name' %>
		<%= f.text_field :l_name %>
		
		<%= f.label :degree, 'Degree' %>
		<%= f.select :degree, ['Bachelor', 'Master', 'PhD'], :prompt => 'Select a degree' %>
		
		<%= f.label :department_id, 'Department' %>
		<%= f.collection_select( :department_id, Department.all, :id, :title, {:prompt => 'Select a department'}, {:id => 'departments_select'} ) %>
		
		<%= f.label :course_id, 'Course' %>
		<%= f.collection_select( :course_id, @courses, :id, :title, {:prompt => "Select a Course"}, {:id => 'courses_select'})%>
		
		<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
		
		<script>
		
			$(document).ready(function() {
				$('#departments_select').change(function() {
					$.ajax({
						url: '<%= update_courses_path %>',
						data: {
							department_id: $('#departments_select').val()
						},
						dataType: "script"
					});
				});
			});
		</script>
	<% end %>
	</div>
</div>	
