<% @projects.each do |project| %>
<% project.choices.each do |choice| %>
<% project.errors.each do |msg|%>
<%= msg%>
<%end%>
<%end%>

<tr>
    <td class='center_content'><%= project.number %></td>
    <td class='vcenter'><%= project.title %></td>
    <td class='center_content'><%= link_to 'Show', project %></td>
<% if current_academic %>
    <td class='center_content'><%= link_to 'Edit', edit_project_path(project) %></td>
    <td class='center_content'><%= link_to 'Destroy', project, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
<%end%>
<% if current_student %>
	<td class='vcenter'><%= button_to "Add to choices", choices_path(:project_id => project), class: "btn"%></td>
<%end%>
<%end%>

</tr>
