<p>
	<b>Project Title:</b>
	<%= @project.title %>
</p>
<p>
	<b>Number of Students Allowed in This Project:</b>
	<%= @project.total_students%>
	
<p>
	<b>Description:</b>
	<%= @project.description %>
</p>

<p>
	<b>Requirements:</b>
	<%= @project.requirements %>
</p>

<p>
	<b>Resources:</b>
	<%= @project.resources %>
</p>	

<ul class='nav nav-pills'>
<li>
	<%if current_academic%>
<%= link_to "Edit", edit_project_path(@project) %></li> 

<li><%= link_to "Back", projects_path%></li>
<%end%>
<%if current_student%>
<li><%= link_to "Back to Project List", project_list_path %></li></ul>
<%end%>