<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">

		
      <%= link_to "Project Allocation", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", '/help' %></li>
		 <% if admin_signed_in? %>
			<li id="fat-menu" class="dropdown">
			   <a  class="dropdown-toggle" data-toggle="dropdown">
			     Account <b class="caret"></b>
			   </a>
			   <ul class="dropdown-menu">
				<li><%= link_to "Academics Index", admin_academics_path %></li>
				<li><%= link_to "Students Index", admin_students_path%></li>
				<li><%= link_to "Departments and Courses", admin_departments_path%></li>
				<li><%= link_to "Change your password", edit_admin_registration_path %></li>
				<li><%= link_to "Add allocation date", allocs_path%></li>
				<li class="divider"></li>
				<li><%= link_to "Sign out", destroy_admin_session_path, method: "delete" %></li>
		  <%else%>
		  <% if student_signed_in?%>
			<li id="fat-menu" class="dropdown">
			   <a  class="dropdown-toggle" data-toggle="dropdown">
			     Account <b class="caret"></b>
			   </a>
			   <ul class="dropdown-menu">
				<% if Sprofile.where(:student_id => current_student.id).blank?  %>
					<li><%= link_to "Create Profile", '/sprofiles/new' %></li>
				<%else%>	
			     	<li><%= link_to "View Profile", sprofile_path(current_student.id) %></li>
			     	<li><%= link_to "View Projects", project_list_path %></li>
				 	<li><%= link_to "Change your password", edit_student_registration_path %></li>
				<%end%>
			     <li class="divider"></li>
			     <li>
			        <%= link_to "Sign out", destroy_student_session_path, method: "delete" %>
			     </li>
			   </ul>
			 </li>
		   <% else %>
		 <% if academic_signed_in?%>
			<li id="fat-menu" class="dropdown">
			   <a  class="dropdown-toggle" data-toggle="dropdown">
			     Account <b class="caret"></b>
			   </a>
			   <ul class="dropdown-menu">
				<% if Aprofile.where(:academic_id => current_academic.id).blank?  %>
					<li><%= link_to "Create Profile", '/aprofiles/new' %></li>
				<%else%>	
			     	<li><%= link_to "View Profile", aprofile_path(current_academic.id) %></li>
			     	<li><%= link_to "Change your password", edit_academic_registration_path %></li>
				 	<li><%= link_to 'Manage Projects', projects_path %></li>
				<%end%>
			     <li class="divider"></li>
			     <li>
			        <%= link_to "Sign out", destroy_academic_session_path, method: "delete" %>
			     </li>
			   </ul>
			 </li>
		  <% else %>	
          		<li><%= link_to "Students Sign in", new_student_session_path %></li>
				<li><%= link_to "Academics Sign in", new_academic_session_path %></li>
		   <% end %>
		   <% end %>
		   <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>